@import "_variables.scss";


body{
    font-family: $font-family;
    margin: 0;
    padding: 0;
    font-weight: 300;
    background-color: $color-background;
}
header {
    background-color: $color-surface;
    display: flex;
    align-items: center;
    padding: 0.4em 1em;
    .header__left{
        width: 80%;
        display: flex;
        align-items: center;
        h1{
            margin: 0 0 0 0.4em;
        }
    }
    .header__right{
        width: 20%;
        text-align: right;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        &__item{
            margin: 0 0.4em 0 0;
            padding: 0.4em;
            border-radius: 15px;
            &:hover{
                background-color: #f5f5f5;
                transition: 0.2s ease-in-out;
            }
        }
        img{
            border-radius: 15px;
        }
        &__dropdown{
            &__item{
                display: flex;
                align-items: center;
                border-radius: 15px;
                img{
                    margin-right: 0.4em;
                }
                p{
                    font-weight: 400;
                    font-size: 16px;
                    margin: 0;
                }
            }
            &__panel{
                display: none;
                margin: 0;
                width: 10vw;
                padding: 0;
                text-align: left;
                left: 89vw;
                position: absolute;
                background-color: #fff;
                border-radius: 15px;
                box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
                a{
                    display: block;
                    padding: 0.8em 1em; 
                    &:hover{
                        background-color: #eeeeee;
                        transition: 0.2s ease-in-out;
                    }
                    &:first-child{
                        border-top-left-radius: 15px;
                        border-top-right-radius: 15px;
                    }
                    &:last-child{
                        border-bottom-left-radius: 15px;
                        border-bottom-right-radius: 15px;
                        color: rgb(212, 106, 106);
                    }
                }
                hr{
                    margin: 0;
                    color: rgb(252, 252, 252)
                }
            }
            &:hover{
                & .header__right__dropdown__panel{
                    display: block;  
                }
            }
        }
    }
}
.footer{
    background-color: $color-surface;
    text-align: center;
    padding: 2em;
}
a{
    text-decoration: none;
    color: inherit;
}


//===================================
//COMMON STYLES
//===================================
h1{
    margin: 0 0 0.5em 0;
}

//boutons et différentes couleurs
button{
    font-family: $font-family;
}
.button{
    text-decoration: none;
    font-family: $font-family;
    transition: 0.2s ease-in-out;
    border: none;
    padding: 0.6em 0.8em;
    border-radius: 10px;
    background-color: white;
    &:hover{
        background-color: rgb(236, 236, 236);
        transition: 0.2s ease-in-out;
    }
    &.is-black{
        background-color: black;
        color: white;
        &:hover{
            background-color: #272727;
            transition: 0.2s ease-in-out;
        }
    }
    &.is-primary{
        background-color: $color-primary;
        color: white;
        &:hover{
            background-color: $color-primary-light;
            transition: 0.2s ease-in-out;
        }
    }
    &.is-secondary{
        background-color: $color-secondary;
        color: white;
        &:hover{
            background-color: $color-secondary-light;
            transition: 0.2s ease-in-out;
        }
    }
    &.is-error{
        background-color: $color-error;
        color: white;
        &:hover{
            background-color: $color-error-light;
            transition: 0.2s ease-in-out;
        }
    }
    &.is-alert{
        background-color: $color-alert;
        color: white;
        &:hover{
            background-color: $color-alert-light;
            transition: 0.2s ease-in-out;
        }
    }
}


//FORMS
//Block d'une case de form (ex: label + input)
.form-chunck{
    padding-bottom: 1em;
    label{
        margin-right: 0.6em;
    }
    input{
        width: inherit;
    }
    &.is-vertical input, &.is-vertical label{
        display: block;
    }
    &.is-vertical label{
        margin-bottom: 0.2em;
    }
}

//Diférents inputs
.input{
    resize: vertical;
    border-radius: 5px;
    border: 1px $color-light-gray solid;
    outline: none;
    padding: 0.5em 0.6em;
    transition: 0.2s ease-in-out;
    box-sizing: border-box;

    //Couleurs et affichage
    &::placeholder{
        color: gray;
    }
    &:focus{
        border: 1px $color-primary solid;
        transition: 0.2s ease-in-out;
    }
    &.is-secondary:focus{
        border: 1px $color-secondary solid;
        transition: 0.2s ease-in-out;
    }
    &.is-error:focus{
        border: 1px $color-error solid;
        transition: 0.2s ease-in-out;
    }
    &.is-alert:focus{
        border: 1px $color-alert solid;
        transition: 0.2s ease-in-out;
    }
    &.is-wide{
        width: 100%;
    }

}
.input-error{
    margin: 0;
    color: $color-error;
    font-size: 15px;
}
.hidden{
    display: none;
}