@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap');

$color-primary: #268138;
$color-primary-light: #26b943;
$color-secondary: #146625;
$color-secondary-light: #17752a;
$color-light: #30F257;


$color-alert: #ffc219;
$color-alert-light: #ffc72e;
$color-error: #ec7373;
$color-error-light: #f78181;

$color-background: #f3f4f6;
$color-surface: #ffffff;
$color-highlight: #e5e7eb;

$color-text: #192332;
$color-text-light: #9b9fa9;

$color-light-gray: #EEEEEE;
$color-gray-text: #919191;
$color-gray-text-light: #a5a5a5;


$border-radius: 12px;
$font-family: 'Fredoka', sans-serif;