@import "util/variables.scss";
header {
    background-color: $color-surface;
    display: flex;
    align-items: center;
    .header__left{
        width: 80%;
        h1{
            margin: 0 0 0 0.4em;
        }
    }
    .header__right{
        width: 20%;
        text-align: right;
    }
}

.card{
    background-color: $color-surface;
    padding: 20px;
    border-radius: $border-radius;
    width: 100%;
    margin-bottom: 1em;
    &.is-post{
        .post-header{
            display: flex;
            box-sizing: border-box;
            justify-content: flex-start;
            flex-direction: row;
            width: 100%;
            h4 {
                font-size: 28px;
                font-weight: 300;
                margin: 0 0 0 0;
                padding: 2px;
            }
            img {
                height: 40px;
                clip-path: circle(40%);
                width: auto;
            }
        }
        .post-content{
            margin: 0 0 2% 0;
            padding: 0 1% 0 0%;
        }
    }
}