@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Fredoka', sans-serif;
    font-weight: 300;
}
// Idée affichage postes dynamiques
.main {
    display: flex;
    height: 100vh;
    nav {
        display: none;
        position: fixed;
        background-color: red;
        width: 20%;
        height: 100vh;
    }

    section {
        padding: 20px;
        background-color: green;
        width: 100%;
        max-width: 80%;
        overflow-y: scroll;
        
        .contents {
            margin-left: 16%;
            margin-right: 16%;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: flex-start;
            .card {
                background-color: red;
                padding: 10px;
                width: 100%;
                height: 60vh;
                margin-bottom: 1vh;
                display: flex;
                flex-direction: column;
                &__image {
                    width: inherit;
                    max-height: 60%;
                }
            }
            
        }
    }
    .right-menu {
        background-color: blue;
        width: 100%;
        max-width: 20%;
        .icons {
            padding: 10px;
            display: flex;
            justify-content: space-around;
        }
    }
}