@import "util/variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap');


body{
    font-family: 'Fredoka', sans-serif;
    margin: 0;
    background-color: $color-background;
}

h1{
    margin: 0 0 0.5em 0;
}

.button{
    transition: 0.2s ease-in-out;
    border: none;
    padding: 0.6em 0.8em;
    border-radius: 10px;
    background-color: white;
    &:hover{
        background-color: rgb(236, 236, 236);
        transition: 0.2s ease-in-out;
    }
    &.is-black{
        background-color: black;
        color: white;
        &:hover{
            background-color: #272727;
            transition: 0.2s ease-in-out;
        }
    }
    &.is-primary{
        background-color: $color-primary;
        color: white;
        &:hover{
            background-color: $color-primary-light;
            transition: 0.2s ease-in-out;
        }
    }
    &.is-secondary{
        background-color: $color-secondary;
        color: white;
        &:hover{
            background-color: $color-secondary-light;
            transition: 0.2s ease-in-out;
        }
    }
    &.is-error{
        background-color: $color-error;
        color: white;
        &:hover{
            background-color: $color-error-light;
            transition: 0.2s ease-in-out;
        }
    }
}

.form-chunck{
    padding-bottom: 1em;
    label{
        margin-right: 0.6em;
    }
    input{
        width: inherit;
    }
    &.is-vertical input, &.is-vertical label{
        display: block;
    }
    &.is-vertical label{
        margin-bottom: 0.2em;
    }
}

.input{
    border-radius: 5px;
    border: 1px $color-light-gray solid;
    outline: none;
    padding: 0.5em 0.6em;
    transition: 0.2s ease-in-out;
    &::placeholder{
        color: gray;
    }
    &:focus{
        border: 1px $color-primary solid;
        transition: 0.2s ease-in-out;
    }
    &.is-secondary:focus{
        border: 1px $color-secondary solid;
        transition: 0.2s ease-in-out;
    }

    &.is-error:focus{
        border: 1px $color-error solid;
        transition: 0.2s ease-in-out;
    }
}