$color-primary: #21A63C;
$color-primary-light: #26b943;
$color-secondary: #146625;
$color-secondary-light: #17752a;
$color-light: #30F257;


$color-alert: #ffc219;
$color-alert-light: #ffc72e;
$color-error: #ec7373;
$color-error-light: #f78181;

$color-background: #f7f7f7;
$color-surface: #ffffff;
$color-light-gray: #EEEEEE;
$color-gray-text: #919191;
$color-gray-text-light: #a5a5a5;


$border-radius: 20px;