@import "../_variables.scss";
body.index{
    margin: 0;
    padding: 0;
    font-weight: 300;
    overflow-y: hidden;
}
header {
    background-color: $color-surface;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.4em 1em;
    box-shadow: $color-highlight 0 0 10px;
    position: relative;
    z-index: 999;
    .header__left{
        display: flex;
        align-items: center;
        h1{
            margin: 0 0 0 0.4em;
        }
    }
    .header__right{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        &__item{
            margin: 0 0.4em 0 0;
            padding: 0.4em;
            border-radius: 50px;
            transition: 0.2s ease-in-out;
            &:hover{
                background-color: #f5f5f5;
                transition: 0.2s ease-in-out;
            }
            &.active{
                background-color: #fafafa;
            }
        }
        &__dropdown{
            position: relative;
            display: inline-block;
            &__item{
                display: flex;
                align-items: center;
                img{
                    margin-right: 0.4em;
                    border-radius: 50px;
                }
                p{
                    font-weight: 400;
                    font-size: 16px;
                    margin: 0;
                }
            }
            &__panel{
                box-shadow: $color-highlight 0 0 10px;
                display: none;
                margin: 0.6em 0 0 0;
                width: 10vw;
                padding: 0;
                text-align: left;
                right: 0;
                position: absolute;
                background-color: #fff;
                border-radius: $border-radius;
                box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
                a{
                    display: block;
                    padding: 0.8em 1em;
                    &:hover{
                        background-color: #eeeeee;
                        transition: 0.2s ease-in-out;
                    }
                    &:first-child{
                        border-top-left-radius: $border-radius;
                        border-top-right-radius: $border-radius;
                    }
                    &:last-child{
                        border-bottom-left-radius: $border-radius;
                        border-bottom-right-radius: $border-radius;
                        color: rgb(212, 106, 106);
                    }
                }
                hr{
                    border: none;
                    height: 1px;
                    margin: 0;
                    color: rgb(204, 204, 204);
                    background-color: rgb(204, 204, 204);;
                }
            }
            &:hover{
                & .header__right__dropdown__panel{
                    display: block;
                }
            }
        }
    }
}

section {
    display: flex;

    .section__frame {
        background-color: $color-background;
        width: 80%;
        height: 95vh;
        overflow-y: scroll;

        &.is-wide{
            width: 100%;
        }

        .content-flow {
            padding-top: 20px;
            margin: 0 20%;
        }
    }

    .section__right-frame{
        background-color: #eef7eb;
        width: 20%;
        max-width: 20%;
        &__header {
            background-color: white;
            box-shadow: $color-highlight 0 0 10px;
            padding: 0.4em;
            width: 100%;
            display: flex;
            box-sizing: border-box;
            justify-content: space-around;
            img{
                padding: 0 0.4em;
                border-radius: $border-radius;
                &:hover{
                    background-color: rgb(238, 238, 238);
                }
            }
            .active{
                background-color: #e9e9e9;
                &:hover{
                    background-color: rgb(221, 221, 221);
                }
            }
        }
        &__content{
            & .hidden{
                display: none;
            }
            .create-group{
                position: fixed;
                color: black;
                text-decoration: 0;
                bottom: 0;
                width: 20vw;
                padding: 1em 1em;
                text-align: center;
                background-color: $color-surface;
                &:hover{
                    background-color: rgb(248, 248, 248);
                    transition: 0.2s ease-in-out;
                }
            }
        }
    }
}
/*TODO: responsive
@media (max-width: 1024px){
    section{
        display: block;
        .section__frame {
            display: none;
        }

        .section__right-frame{
            width: 100%;
            max-width: 100%;
            height: 95vh;
        }
    }
}*/

.card{
    background-color: $color-surface;
    border-radius: $border-radius;
    box-shadow: $color-highlight 0 0 10px;
    &.is-post{
        margin-bottom: 1em;
        padding: 20px;
        width: 100%;
        .switch {
            position: relative;
            display: inline-block;
            width: 60px;
            height: 34px;
            input {
                opacity: 0;
                width: 0;
                height: 0;
                &:checked + .switch__slider {
                    background-color: #2ecc71;
                }
                &:focus + .switch__slider {
                    box-shadow: 0 0 1px #2ecc71;
                }
                &:checked + .switch__slider:before {
                    transform: translateX(26px);
                }
            }
            &__slider {
                position: absolute;
                cursor: pointer;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: crimson;
                border-radius: 34px;
                transition: .4s;
                &:before {
                    position: absolute;
                    border-radius: 50%;
                    content: "";
                    height: 26px;
                    width: 26px;
                    left: 4px;
                    bottom: 4px;
                    background-color: white;
                    transition: .4s;
                }
            }
        }
        .post-header{
            box-sizing: border-box;
            width: 100%;
            margin-bottom: 0.2em;
            &__title {
                font-size: 28px;
                font-weight: 300;
                margin: 0 0 0.2em 0;
                word-wrap: break-word;
                white-space: pre-wrap;
            }
            &__user{
                display: flex;
                //justify-content: flex-start;
                align-items: center;
                &__img {
                    border-radius: 100px;
                    margin-right: 0.6em;
                    width: auto;
                }
                &__name{
                    color: rgb(136, 136, 136);
                    margin: 0;
                }
            }
        }
        .post-content{
            margin: 0 0 2% 0;
            padding: 0 1% 0 0%;
        }
    }
    &.is-dm, &.is-group{
        display: flex;
        width: 90%;
        margin: 5%;
        box-sizing: border-box;
        text-decoration: none;
        color: black;
        padding: 0.6em;
        &:hover{
            background-color: $color-background;
            transition: 0.2s ease-in-out;
        }
        .card-img{
            border-radius: 100px;
            width: auto;
            margin: auto 0.6em auto 0;
        }
        .content{
            width: 70%;
            overflow-wrap: break-word;
            .card-title{
                font-size: 18px;
                font-weight: 500;
                margin: 0;
            }
            .card-under{
                margin: 0;
            }
        }
    }
}
