@import "../util/variables.scss";
body{
    margin: 0;
    padding: 0;
    font-weight: 300;
}
// Idée affichage postes dynamiques
.main {
    display: flex;
    height: 100vh;
    nav {
        display: none;
        position: fixed;
        background-color: red;
        width: 20%;
        height: 100vh;
    }

    section {
        padding: 20px;
        background-color: $color-background;
        width: 100%;
        max-width: 80%;
        overflow-y: scroll;
        
        .contents {
            margin-left: 20%;
            margin-right: 20%;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: flex-start;
            .card {
                box-sizing: border-box;
                overflow: hidden;
                padding: 20px;
                width: 100%;
                border-radius: 20px;

                background-color: $color-surface;
                margin-bottom: 10px;
                .container {
                    display: flex;
                    justify-content: flex-start;
                    flex-direction: column;
                    .title {
                        display: flex;
                        box-sizing: border-box;
                        justify-content: flex-start;
                        flex-direction: row;
                        width: 100%;
                        h4 {
                            font-size: 28px;
                            font-weight: 300;
                            margin: 0 0 0 0;
                            padding: 2px;
                        }
                        img {
                            height: 40px;
                            clip-path: circle(40%);
                            width: auto;
                        }
                    } 
                    p {
                        margin: 0 0 2% 0;
                        padding: 0 1% 0 0%;
                    }
                }
            }
            
            
            
        }
    }
    .right-menu {
        background-color: $color-primary-light;
        width: 100%;
        max-width: 20%;
        .icons {
            padding: 10px;
            display: flex;
            justify-content: space-around;
        }
        .sidebar {
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            .card-dm {
                display: flex;
                flex-direction: row;
                border: solid grey 1px;
                box-sizing: content-box;
                height: 10vh;
                background-color: $color-error;
                overflow: hidden;
                .content {
                    h5 { 
                        margin: 0;
                        font-size: 18px;
                        font-weight: 300;
                        margin: 0 0 0 0;
                        padding: 2px;
                    }
                    p {
                        margin: 0;
                    }
                }
                img {
                    height: 100%;
                    clip-path: circle(40%);
                }
            }
        }
    }
}