@import "../util/variables.scss";
body{
    margin: 0;
    padding: 0;
    font-weight: 300;
    overflow-y: hidden;
}
// Idée affichage postes dynamiques
section {
    display: flex;

    .section__frame {
        padding: 20px;
        background-color: $color-background;
        width: 80%;
        
        .content {
            margin: 0 20%;
            /*.card {
                box-sizing: border-box;
                overflow: hidden;
                padding: 20px;
                width: 100%;
                border-radius: 20px;

                background-color: $color-surface;
                margin-bottom: 10px;
                    .post-header {
                        display: flex;
                        box-sizing: border-box;
                        justify-content: flex-start;
                        flex-direction: row;
                        width: 100%;
                        h4 {
                            font-size: 28px;
                            font-weight: 300;
                            margin: 0 0 0 0;
                            padding: 2px;
                        }
                        img {
                            height: 40px;
                            clip-path: circle(40%);
                            width: auto;
                        }
                    }
                    p {
                        margin: 0 0 2% 0;
                        padding: 0 1% 0 0%;
                    }
            }*/
        }
    }

    .section__right-frame{
        max-width: 20%;
        &__menu {
            display: flex;
            background-color: $color-surface;
            &--active{
                background-color: #d3d3d3 !important;
            }
            & span{
                background-color: #e7e7e7;
                border-radius: 20px 20px 0 0;
                width: 100%;
                padding: 0.2em 0;
                text-align: center;
            }
        }
        &__cards {
            .card-dm {
                margin: 1em;
                border-radius: 20px;
                display: flex;
                flex-direction: row;
                border-bottom: solid grey 1px;
                box-sizing: content-box;
                height: 10vh;
                background-color:#EEEEEE;
                overflow: hidden;
                font-size: 1.5vh;
                text-decoration: none;
                color: black;
                .content {
                    h5 {
                        margin: 0;
                        font-size: 18px;
                        font-weight: 300;
                        margin: 0 0 0 0;
                        padding: 2px;
                    }
                    p, h5{
                        margin: 0;
                    }
                }
                img {
                    margin: auto 0.4em auto auto;
                    border-radius: 100%;
                }
            }
        }
    }
}

.sidebar-header {
  display: grid;
  grid-template-columns: 50% 50%;
  background-color: #EEEEEE;
}
.sidebar-header div {
  padding: 1vh 0 1vh 0;
  text-align: center;
}
.sidebar_is-select {
  background-color: #919191;
}
header {
  display: grid;
  grid-template-columns: 80% 20%;
  position: relative;
}
header > .title {
  position: relative;
  padding:  2%;
}
header > .title::after {
  position: absolute;
  content: " ";
  width: 96%;
  height: 2px;
  background-color: black;
}

.icons {
  padding: 10px;
  display: flex;
  justify-content: space-around;
}
