@import "../util/variables.scss";
body{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}

#container{
    padding: 2em;
    border-radius: 20px;
    background-color: $color-surface;
    width: 30vw;

    .container__go-home{
        color: $color-gray-text;
        text-decoration: none;
        display: block;
        margin: 0.6em 0 0 0;
        &:hover{
            text-decoration: underline;
        }
    }
    .container__brand{
        display: block;
        margin: auto;
        margin-bottom: 1em;
    }
    .container__buttons{
        text-align: center;
        margin-bottom: 1em;
        a{
            text-decoration: none;
            border: none;
            background-color: white;
            font-weight: 600;
            color: $color-gray-text;
            transition: 0.2s ease-in-out;
            &:hover{
                color: $color-gray-text-light;
                transition: 0.2s ease-in-out;
            }
            &.active{
                color: $color-primary;
                transition: 0.2s ease-in-out;
                &:hover{
                    color: $color-primary-light;
                    transition: 0.2s ease-in-out;
                }
            }
        }
        & :first-child{
            margin-right: 0.5em;
        }
        & :last-child{
            margin-left: 0.5em;
        }
    }

}