.content-main{
    padding-top: 2em;
    &__header{
        display: flex;
        margin: 0 auto;
        width: 60%;
        align-items: center;
        & .text-title{
            font-size: 3em;
            font-weight: 600;
            margin: 0;
        }
        & .text-under{
            margin: 0;
            font-size: 1.2em;
        }
    }
}