.content-main{
    &__header{
        display: flex;
        margin: 4em auto 6em auto;
        width: 60%;
        align-items: center;
        & .text-title{
            font-size: 3em;
            font-weight: 600;
            margin: 0;
        }
        & .text-under{
            margin: 0;
            font-size: 1.2em;
        }
    }
    &__band{
        background-color: rgb(226, 226, 226);
        height: 10vh;
    }
    &__container{
        width: 50%;
        margin: 3em auto 0 auto;
        & .head{
            font-size: 20px;
            
        }
        &__items{
            > h2{
                margin: 0 0 0.2em 0;
            }
            > p{
                margin: 0 0 0.4em 0;
            }
        }
    }
}