.content-main{
    &__header{
        display: flex;
        margin: 4em auto 6em auto;
        width: 60%;
        align-items: center;
        & .text-title{
            font-size: 3em;
            font-weight: 600;
            margin: 0;
        }
        & .text-under{
            margin: 0;
            font-size: 1.2em;
        }
    }
    &__band{
        background-color: rgb(214, 214, 214);
        height: 10vh;
    }
    &__reviews{
        width: 70%;
        margin: auto;
        display: flex;
        justify-content: space-between;
    }
}