@import "../../util/variables.scss";
.content-dm{
    .dm__header{
        padding: 1em;
        background-color: $color-surface;
        display: flex;
        align-items: center;
        h2{
            margin: 0 0 0 0.6em;
        }
    }
    .dm__content{
        margin: 1em;
        .message{
            padding: 0.6em 1em;
            width: 100%;
            max-width: 200px;
            &-left{
                .content{
                    background-color: $color-surface;
                }
            }
            &-right{
                display: block;
                margin-left: auto;
                .content{
                    background-color: $color-primary;
                    color: white;
                }
            }
            .content{
                margin: 0;
                padding: 1em;
                border-radius: $border-radius;
            }
            .user{
                margin: 0.2em 0 0 0;
            }
        }
    }
    .dm__footer{
        display: flex;
        background-color: $color-surface;
        position: fixed;
        bottom: 0;
        width: 100vw;
        padding: 0.4em 0.6em;
        box-sizing: border-box;
        .form-message{
            width: 80%;
            display: flex;
            input[type="text"]{
                display: block;
                padding: 0.8em;
                font-size: 16px;
                width: 100%;
            }
            input[type="submit"]{
                margin: 0 0.4em;
            }
        }
        .form-img{
            width: 20%;
            display: flex;
            justify-content: center;
            align-items: center;
            input[type="file"]{

            }

        }
    }
}